.modal {
    position: absolute;
    box-shadow: 0 0 5px;
    padding: 24px;
    border-radius: 4px;
    max-width: 640px;
    width: 100%;

    background-color: #fff;
    max-width: 205px;
    transition: transform 200ms ease-in-out;
    &::before {
        content: url("../../../img/header/towards.png");
        position: absolute;

        top: -11px;
        left: 20px;
        filter: invert(100%) sepia(0) saturate(0%) hue-rotate(0) brightness(1180) contrast(119%);
    }
    &__list-link {
        color: #000;
    }
}
.modal__city {
    transform: translate(17px, 12px);
}
.modal__restaurant {
    transform: translate(90px, 12px);
}
