.main__container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}

.main__wrap {
    transform: translateY(40%);
}
.splide__slide img {
    width: 100%;
    height: auto;
}
.carousel__img {
    max-width: 700px;
}
