.main__container {
    //display: flex;
    // justify-content: space-between;
    //max-width: 1570px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("../../img/header/background.jpg");
}
.main__wrap {
    max-width: 1370px;
    margin: 0 auto;
}

.splide__slide img {
    width: 100%;
    height: auto;
}
.carousel__img {
    max-width: 700px;
}
