.about {
    color: #fff;
    &__container {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background-image: url(../../img/about/about-back.png);
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 1px solid #717171;
        border-bottom: 1px solid #717171;
        & > div {
            max-width: 600px;
            padding-left: 80px;
            height: auto;
        }
    }
    &__title {
        padding-top: 25px;
        margin-bottom: 100px;
        font-size: 55px;
        font-weight: 400;
        transform: translate(-60px, 0);

        margin-bottom: 90px;
        &::after {
            padding-left: 10px;
            position: absolute;
            content: url(../../img/header/logo-min.png);
        }
    }
    &__text {
        width: 100%;
        margin: 0 auto;
        font-size: 21px;
        font-weight: 100;
        margin-bottom: 120px;
    }
    &__offer {
        font-size: 33px;
        font-weight: 100;
        padding-bottom: 207px;
        & > strong {
            color: #ffc901;
            font-weight: 100;
        }
    }
}
