.header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  background-color: #333333;
  border-bottom: 1px solid #717171;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__inner-left,
  &__inner-right {
    width: 200px;
    text-align: center;
    // margin: 0 20px;
  }
}
.menu {
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  font-size: 20px;

  &__logo::before {
    content: url(../../img/header/logo-min.png);
  }
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 5px 0;
  }
}
.logo {
  width: auto;
  height: 70px;
  src: url("https://cdn.worldvectorlogo.com/logos/devil68-svg.svg");
}
.main {
  text-align: right;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 100px;
  &__title {
    padding-top: 160px;
    margin-top: 95px;
    font-size: 48px;
    width: 550px;
    // transform: translate(619px, 0);
    margin-bottom: 40px;
    &-sell {
      font-size: 53px;
      width: 300px;
      text-align: right;
      position: relative;
      left: 45%;
    }
    &-pay {
      color: #ffc901;
    }
  }
  &__text {
    font-size: 38px;
    margin-bottom: 100px;
    &-link {
      color: #ffc901;
    }
  }
  &__logo {
    margin-bottom: 210px;
    &::before {
      content: url(../../img/header/logo-min.png);
    }
  }
}

.city,
.restaurant {
  padding: 0 20px;
  &::after {
    content: url("../../img/header/arrow.png");
    filter: invert(80%) sepia(41%) saturate(1376%) hue-rotate(353deg) brightness(98%) contrast(108%);
    position: absolute;
  }
}
.card {
  // padding: 0 15px;
  // margin-left: 30px;
  &::before {
    content: url("../../img/header/shopping-basket.png");
    position: absolute;
    transform: translate(-35px, -10px);
    filter: invert(80%) sepia(41%) saturate(1376%) hue-rotate(353deg) brightness(98%) contrast(108%);
  }
}

.searchForm {
  margin: 0 15px;
  border: 1px solid #ffc901;
  background-color: inherit;
  height: 40px;
  width: 250px;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  border-radius: 6px;
  padding: 15px;
  &::placeholder {
    color: rgb(136, 136, 136);
    font-weight: 100;
  }
}
