.footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0 100px;
    text-align: center;
    position: relative;
    &__logo {
        margin-bottom: 50px;
        &::before {
            position: absolute;
            transform: translate(-50%);
            content: url("../../img/header/logo-min.png");
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
        font-size: 21px;
        font-family: "Overpass";
    }
}
.icon {
    margin: 0 auto;
    width: 270px;
    color: antiquewhite;
    cursor: pointer;
    filter: invert(100%) sepia(0) saturate(0%) hue-rotate(0) brightness(1180) contrast(119%);
}
