@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;400&family=Overpass:wght@300;400&family=Titillium+Web:wght@200&display=swap');
*

{
  padding: 0;
  margin:  0;
  box-sizing: border-box;
 
}
a{
  text-decoration: none;
  color: #fff;
}
li{
  list-style: none;
}
@font-face {
  font-family: 'Chivo';
    font-family: 'Overpass';
    font-family: 'Titillium Web';
    src: url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;400&family=Overpass:wght@300;400&family=Titillium+Web:wght@200&display=swap');
   
}
body {
    
    width: 100%;
   
      // background-image: url('./img/header/Place\ Your\ Image\ Here\(Double\ Click\ to\ Edit\).png');
      // background-repeat:repeat;
      // background-size: contain;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  color: #fff;
}

