.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  &__container {
    margin: 0 auto;
    padding: 170px 0;

    position: relative;
    width: 100%;

    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    text-align: start;
    padding-left: 100px;
    // background-image: url("../../img/footer/contacts-coffee.jpg");
  }
  &__title {
    text-align: center;
    width: 600px;
    font-size: 50px;
    font-weight: 100;
    color: #ffc901;
  }
  &__text {
    font-size: 29px;
    margin: 60px 0 50px;
    width: 600px;
    text-align: center;
  }
  &__link {
    width: 600px;
    text-align: center;
    cursor: pointer;
    font-size: 42px;
    color: #ffc901;
  }
  &__wrap {
    width: 600px;
    text-align: center;
  }
}
.phone__item,
.viber__item,
.telegam__item {
  &::before {
    padding-right: 10px;
  }
}

.phone__item::before {
  content: url("../../img/header/phone.png");
}
.viber__item::before {
  content: url("../../img/header/viber.png");
}
.telegam__item::before {
  content: url("../../img/header/telegram.png");
}

.contacts__item {
  min-width: 230px;
  & > a {
    color: black;
  }
  &::before {
    content: url("../../img/header/towards.png");
    position: absolute;
    top: -20px;
    top: -11px;
    left: 8px;
    filter: invert(100%) sepia(0) saturate(0%) hue-rotate(0) brightness(1180)
      contrast(119%);
  }
}

@media (max-width: 1310px) {
  .contacts > div > img {
    margin-right: 50px;
    max-width: 335px;
  }
}

@media (max-width: 1110px) {
  // .contacts > div > img {
  //   margin-right: 50px;
  //   max-width: 335px;
  // }
  .contacts__container {
    padding: 80px 0;
    padding-left: 50px;
  }
  .contacts__title {
    padding-bottom: 30px;
    font-size: 35px;
    width: 360px;
    margin: 0 auto;
  }
  .contacts__text {
    width: 440px;
    font-size: 20px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .contacts__wrap {
    width: 322px;
    margin: 0 auto;
    & > a {
      font-size: 32px;
    }
  }
}

@media (max-width: 840px) {
  .contacts > div > img {
    display: none;
  }
  .contacts {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;

    background-image: url("../../img/footer/contacts-coffee.jpg");
    &__container {
      background: rgba(0, 0, 0, 0.096);
      overflow: hidden;
      height: 100%;
      padding-left: 0;
    }
  }
}

@media (max-width: 473px) {
  .contacts__text {
    max-width: 360px;
  }
}
